<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="./CSS/output.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/0d4d7fd816.js" crossorigin="anonymous"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API_KEY}}&libraries=maps,marker"
defer
></script>
<title>{{title}}</title>