<html>
<head>
    {{>base_header}}
</head>
<body>
<!-- Nav bar -->
{{>nav}}

<!-- Courses invite -->
<section class="mt-30">
    <div class="flex flex-col justify-center items-center">
        <img src="/images/ballerina.jpg" alt="Ballerina" class="w-3/4 object-cover rounded-lg shadow-lg h-3/4">
        <div>
            <pre class="md:absolute md:p-5 md:top-1/4 md:right-1/8 md:text-right items-center>
                         text-black rounded-lg shadow-lg p-5 pb-10">
                <b class="md:text-2xl md:text-white">Join Our Dance Community!</b>

                Discover the joy of dance with us!
                Whether you’re a complete beginner
                or an experienced dancer,
                our courses offer something for everyone.
                Learn from passionate instructors,
                meet fellow dance lovers, and
                express yourself through movement.

                <b class="md:text-lg md:text-white">✨ What We Offer:</b>
                ✅ Classes for all levels & styles
                ✅ A fun and welcoming atmosphere
                ✅ Experienced and supportive instructors
                ✅ Opportunities to perform and grow

                <i class="md:text-white">Take the first step—sign up today and let’s dance!</i>
            </pre>
        </div>
            <a class="underline decoration-1 md:absolute p-5 border-3 rounded-xl border-black md:bottom-0 md:right-1/8 md:text-2xl font-bold md:mr-5 text-center
                      bg-white text-black hover:border-purple-700 hover:text-purple-700 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110" href="#">
                Join our courses
            </a>

    </div>
</section>
</body>
</html>