<html>
<head>
    {{>base_header}}
</head>
<body>
<!-- Nav bar -->
{{>nav}}

<!-- Courses invite -->
<section class="mt-30">
    <div class="flex justify-center items-center">
        <img src="/images/ballerina.jpg" alt="Ballerina" class="w-300 h-130 object-cover rounded-lg shadow-lg">
        <div>
            <a class="underline decoration-1 absolute p-5 border-4 rounded-xl contrast-200 border-blue-500 bottom-1/4 right-1/8 text-2xl font-bold bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 bg-clip-text text-transparent" href="#">
                Join our courses
            </a>
        </div>
    </div>
</section>
</body>
</html>