<html>
<head>
    {{>base_header}}
</head>
<body>
<!-- Nav bar -->
{{>nav}}

<!-- Courses invite -->
<section class="md:mt-20 mt-10">
    <div class="flex flex-col justify-center items-center">
        <img src="/images/ballet.jpg" alt="Ballerina" class="w-3/4 object-cover rounded-lg shadow-lg h-3/4">
        <div>
            <pre class="md:absolute md:p-5 md:top-1/4 md:right-1/8 md:text-right>
                        text-black
                        not-md:hidden">
                <b class="md:text-2xl md:text-white font-lacquer tracking-tighter">Join Our Dance Community!</b>

                Discover the joy of dance with us!
                Whether you’re a complete beginner
                or an experienced dancer,
                our courses offer something for everyone.
                Learn from passionate instructors,
                meet fellow dance lovers, and
                express yourself through movement.

                <b class="md:text-lg md:text-purple-500">✨ What We Offer:</b>
                ✅ Classes for all levels & styles
                ✅ A fun and welcoming atmosphere
                ✅ Experienced and supportive instructors
                ✅ Opportunities to perform and grow

                <i class="md:text-white">Take the first step!
                    sign up today and let’s dance!</i>

                <a class=" font-bold text-2xl font-lacquer tracking-tighter
                           border-2 border-cyan-500/70 rounded-lg p-3
                           shadow-lg shadow-cyan-500/50
                           bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500
                           bg-clip-text text-transparent"
                   href="/about">Find out more</a>
            </pre>

            <div class="md:hidden p-5 text-center">

                <p><b class="font-lacquer tracking-tighter">Join Our Dance Community!</b></p>
                <p>Discover the joy of dance with us!</p>
                   <p> Whether you’re a complete beginner
                    or an experienced dancer,
                    our courses offer something for everyone.
                    Learn from passionate instructors,
                    meet fellow dance lovers, and
                    express yourself through movement.</p>
                <p><b class="md:text-purple-500">✨ What We Offer:</b></p>
                <p>✅ Classes for all levels & styles</p>
                <p>✅ A fun and welcoming atmosphere</p>
                <p>✅ Experienced and supportive instructors</p>
                <p>✅ Opportunities to perform and grow</p>
                <p><i class="">Take the first step!
                    sign up today and let’s dance!</i></p>

            </div>
            <div class="md:hidden text-center">
                <a class=" font-bold text-xl font-lacquer tracking-tighter
                            border-2 border-black rounded-lg p-3
                            bg-white"

                   href="/about">Find out more</a>
            </div>
        </div>
    </div>
</section>

<!-- Contact us icon -->
{{>email_us_icon}}
</body>
</html>